#------------------------------------------------------------------------
# IOB Modifiers
#------------------------------------------------------------------------
NET "clk80<*>"			SLEW=FAST | DRIVE=12;

NET "rsrvd_out<*>"		SLEW=SLOW | DRIVE=12;
NET "ext_inject_trig"	SLEW=SLOW | DRIVE=12;
NET "activeFeb_cfgDone"	SLEW=SLOW | DRIVE=12;
NET "valid"				SLEW=SLOW | DRIVE=12;
NET "keyp<*>"			SLEW=SLOW | DRIVE=12;
NET "quality<*>"		SLEW=SLOW | DRIVE=12;
NET "amu"				SLEW=SLOW | DRIVE=12;
NET "bxn_wrFifo<*>"		SLEW=SLOW | DRIVE=12;
NET "L1A_SyncAdb"		SLEW=SLOW | DRIVE=12;
NET "daqData<*>"		SLEW=SLOW | DRIVE=12;
NET "lctSpec_FirstFr"	SLEW=SLOW | DRIVE=12;
NET "dduSpec_LastFr"	SLEW=SLOW | DRIVE=12;
NET "seq_seu<*>"		SLEW=SLOW | DRIVE=12;

#------------------------------------------------------------------------
# Time Specs
#------------------------------------------------------------------------
NET "tck2" TNM_NET = "tck2";
TIMESPEC "TS_tck2" = PERIOD "tck2" 21 ns HIGH 50 %;
NET "clkp" TNM_NET = "clkp";
TIMESPEC "TS_clkp" = PERIOD "clkp" 21 ns HIGH 50 %;

NET "tck2" CLOCK_DEDICATED_ROUTE = FALSE;


NET activeFeb_cfgDone LOC = AC28;
NET ALCT_SN LOC = E20;
#NET AMU_GRN LOC = K26;
NET ASYNCADB LOC = AE30;
NET bstr1_subaddr LOC = AF30;
NET bxn_wrFifo<0> LOC = V26;
NET bxn_wrFifo<1> LOC = V30;
NET bxn_wrFifo<2> LOC = V28;
NET CCB_BRCSTM<0> LOC = AG30;
NET CCB_BRCSTM<1> LOC = AG29;
NET CCB_BRCSTM<2> LOC = P23;
NET CCB_BRCSTM<3> LOC = P22;
NET CLK_DLY LOC = U5;

NET "clk80<0>"			LOC = "C15";	# I/O_188 Pin XP3.A20	S6
NET "clk80<1>"			LOC = "W1";		# I/O_189 Pin XP3.B20	S6
NET "clk40sh<0>"		LOC = "W5";		# I/O_190 Pin XP3.A21	S6
NET "clk40sh<1>"		LOC = "W4";		# I/O_191 Pin XP3.B21	S6

#NET CLOCK_EN LOC = AE29;
NET clkp LOC = D15;
NET CS_DLY<0> LOC = AB15;
NET CS_DLY<1> LOC = AH15;
NET CS_DLY<2> LOC = A12;
NET daqData<0> LOC = M24;
NET daqData<1> LOC = M23;
NET daqData<2> LOC = L25;
NET daqData<3> LOC = L24;
NET daqData<4> LOC = N25;
NET daqData<5> LOC = N24;
NET daqData<6> LOC = M30;
NET dduSpec_LastFr LOC = K28;
NET DIN_DLY LOC = V1;
NET DOUT_DLY<0> LOC = AH16;
NET DOUT_DLY<1> LOC = AD15;
NET DOUT_DLY<2> LOC = H13;
NET dout_bx0 LOC = AF28;
NET ext_inject_trig LOC = R22;
NET amu LOC = AD30;
NET keyp<0> LOC = W30;
NET keyp<1> LOC = W29;
NET keyp<2> LOC = AB30;
NET keyp<3> LOC = AB28;
NET keyp<4> LOC = W28;
NET keyp<5> LOC = W27;
NET keyp<6> LOC = V27;
NET quality<0> LOC = AD28;
NET quality<1> LOC = Y27;
#NET FEB0_GRN LOC = H28;
#NET FEB1_GRN LOC = G30;
#NET FEB2_GRN LOC = G29;
#NET FEB3_GRN LOC = J30;
#NET FEB4_GRN LOC = J29;
#NET FEB5_GRN LOC = F30;
#NET FEB6_GRN LOC = F28;
#NET HALT_RED LOC = H26;
#NET INVPAT_RED LOC = H27;
NET JSTATE<0> LOC = L30;
NET JSTATE<1> LOC = L28;
NET JSTATE<2> LOC = L27;
NET JSTATE<3> LOC = H30;
NET L1A_SyncAdb LOC = R21;
#NET L1A_OK_GRN LOC = K27;
NET lctSpec_FirstFr LOC = M27;

#NET LCT0_<0> LOC = AG7;
#NET LCT0_<1> LOC = AD9;
#NET LCT0_<2> LOC = AE9;
#NET LCT0_<3> LOC = AD8;
#NET LCT0_<4> LOC = AE8;
#NET LCT0_<5> LOC = AG6;
#NET LCT0_<6> LOC = AH6;
#NET LCT0_<7> LOC = AH7;
#NET LCT0_<8> LOC = AK7;
#NET LCT0_<9> LOC = AA10;
#NET LCT0_<10> LOC = AA9;
#NET LCT0_<11> LOC = AD7;
#NET LCT0_<12> LOC = AE7;
#NET LCT0_<13> LOC = Y9;
#NET LCT0_<14> LOC = Y8;
#NET LCT0_<15> LOC = AE6;
#NET LCT0_<16> LOC = AF6;
#NET LCT0_<17> LOC = AA12;
#NET LCT0_<18> LOC = AA11;
#NET LCT0_<19> LOC = AE5;
#NET LCT0_<20> LOC = AG5;
#NET LCT0_<21> LOC = T7;
#NET LCT0_<22> LOC = T6;
#NET LCT0_<23> LOC = AA7;
#NET LCT0_<24> LOC = AA6;
#NET LCT0_<25> LOC = AC6;
#NET LCT0_<26> LOC = AD6;
#NET LCT0_<27> LOC = AH5;
#NET LCT0_<28> LOC = AK5;
#NET LCT0_<29> LOC = W10;
#NET LCT0_<30> LOC = W9;
#NET LCT0_<31> LOC = AB7;
#NET LCT0_<32> LOC = AB6;
#NET LCT0_<33> LOC = W7;
#NET LCT0_<34> LOC = W6;
#NET LCT0_<35> LOC = AJ4;
#NET LCT0_<36> LOC = AK4;
#NET LCT0_<37> LOC = T9;
#NET LCT0_<38> LOC = T8;
#NET LCT0_<39> LOC = AH3;
#NET LCT0_<40> LOC = AK3;
#NET LCT0_<41> LOC = Y7;
#NET LCT0_<42> LOC = Y6;
#NET LCT0_<43> LOC = AJ2;
#NET LCT0_<44> LOC = AK2;
#NET LCT0_<45> LOC = AE4;
#NET LCT0_<46> LOC = AF4;
#NET LCT0_<47> LOC = AF3;

NET LCT0_<0> LOC = AG3;
NET LCT0_<1> LOC = V8;
NET LCT0_<2> LOC = V7;
NET LCT0_<3> LOC = AH1;
NET LCT0_<4> LOC = AJ1;
NET LCT0_<5> LOC = V10;
NET LCT0_<6> LOC = V9;
NET LCT0_<7> LOC = AG4;
NET LCT0_<8> LOC = AH4;
NET LCT0_<9> LOC = N10;
NET LCT0_<10> LOC = N9;
NET LCT0_<11> LOC = AF2;
NET LCT0_<12> LOC = AH2;
NET LCT0_<13> LOC = R7;
NET LCT0_<14> LOC = R6;
NET LCT0_<15> LOC = AF1;
NET LCT0_<16> LOC = AG1;
NET LCT0_<17> LOC = U7;
NET LCT0_<18> LOC = U6;
NET LCT0_<19> LOC = AE3;
NET LCT0_<20> LOC = AE1;
NET LCT0_<21> LOC = N8;
NET LCT0_<22> LOC = N7;
NET LCT0_<23> LOC = AC5;
NET LCT0_<24> LOC = R1;
NET LCT0_<25> LOC = P4;
NET LCT0_<26> LOC = P3;
NET LCT0_<27> LOC = N5;
NET LCT0_<28> LOC = N4;
NET LCT0_<29> LOC = P2;
NET LCT0_<30> LOC = P1;
NET LCT0_<31> LOC = N3;
NET LCT0_<32> LOC = N1;
NET LCT0_<33> LOC = P7;
NET LCT0_<34> LOC = P6;
NET LCT0_<35> LOC = M7;
NET LCT0_<36> LOC = M6;
NET LCT0_<37> LOC = L7;
NET LCT0_<38> LOC = L6;
NET LCT0_<39> LOC = M2;
NET LCT0_<40> LOC = M1;
NET LCT0_<41> LOC = L3;
NET LCT0_<42> LOC = L1;
NET LCT0_<43> LOC = K2;
NET LCT0_<44> LOC = K1;
NET LCT0_<45> LOC = L5;
NET LCT0_<46> LOC = L4;
NET LCT0_<47> LOC = M4;

NET LCT1_<0> LOC = M3;
NET LCT1_<1> LOC = H4;
NET LCT1_<2> LOC = H3;
NET LCT1_<3> LOC = J3;
NET LCT1_<4> LOC = J1;
NET LCT1_<5> LOC = J5;
NET LCT1_<6> LOC = J4;
NET LCT1_<7> LOC = H2;
NET LCT1_<8> LOC = H1;
NET LCT1_<9> LOC = G3;
NET LCT1_<10> LOC = G1;
NET LCT1_<11> LOC = K4;
NET LCT1_<12> LOC = K3;
NET LCT1_<13> LOC = C1;
NET LCT1_<14> LOC = B1;
NET LCT1_<15> LOC = F2;
NET LCT1_<16> LOC = F1;
NET LCT1_<17> LOC = E5;
NET LCT1_<18> LOC = E4;
NET LCT1_<19> LOC = E3;
NET LCT1_<20> LOC = E1;
NET LCT1_<21> LOC = D4;
NET LCT1_<22> LOC = D3;
NET LCT1_<23> LOC = D2;
NET LCT1_<24> LOC = F4;
NET LCT1_<25> LOC = A3;
NET LCT1_<26> LOC = B3;
NET LCT1_<27> LOC = D1;
NET LCT1_<28> LOC = B2;
NET LCT1_<29> LOC = C5;
NET LCT1_<30> LOC = D5;
NET LCT1_<31> LOC = F3;
NET LCT1_<32> LOC = G5;
NET LCT1_<33> LOC = A4;
NET LCT1_<34> LOC = C4;
NET LCT1_<35> LOC = A2;
NET LCT1_<36> LOC = J6;
NET LCT1_<37> LOC = A5;
NET LCT1_<38> LOC = B5;
NET LCT1_<39> LOC = G4;
NET LCT1_<40> LOC = G6;
NET LCT1_<41> LOC = F7;
NET LCT1_<42> LOC = G7;
NET LCT1_<43> LOC = H6;
NET LCT1_<44> LOC = E6;
NET LCT1_<45> LOC = F8;
NET LCT1_<46> LOC = G8;
NET LCT1_<47> LOC = F6;

#NET MC_DONE LOC = B27;
NET MC_SN LOC = A27;
NET MX_OE LOC = AK29;
#NET NO_L1A_RED LOC = E30;
#NET PRETRIG_BLU LOC = E29;
NET RS_DLY LOC = V3;
NET RSV_IN02 LOC = AE28;
NET RSV_IN13 LOC = AE27;
NET RSRVD_OUT<0> LOC = AC30;
NET RSRVD_OUT<1> LOC = AC29;
NET SEQ_CMD02 LOC = W25;
NET SEQ_CMD13 LOC = W24;
NET SEQ_SEU<0> LOC = M26;
NET SEQ_SEU<1> LOC = K30;
NET SETTST_DLYP LOC = V4;
#NET SL_CL_DONE LOC = E28;
#NET TCK_GRN LOC = J28;
NET TCK2 LOC = P24;
#NET TDI_GRN LOC = G27;
NET TDI2 LOC = AJ30;
#NET TDO_GRN LOC = G28;
NET TDO2 LOC = AH30;
#NET TMS_GRN LOC = J27;
NET TMS2 LOC = P25;
NET TP_STRT_EXT LOC = R24;
NET TP0<0> LOC = AC21;
NET TP0<1> LOC = AD21;
NET TP0<2> LOC = AF23;
NET TP0<3> LOC = AG23;
NET TP0<4> LOC = AD23;
NET TP0<5> LOC = AE23;
NET TP0<6> LOC = AD22;
NET TP0<7> LOC = AE22;
NET TP0<8> LOC = AF25;
NET TP0<9> LOC = AG25;
NET TP0<10> LOC = AG24;
NET TP0<11> LOC = AH24;
NET TP0<12> LOC = AG26;
NET TP0<13> LOC = AH26;
NET TP0<14> LOC = AD24;
NET TP0<15> LOC = AE24;
#NET TP0<16> LOC = AE25;
#NET TP0<17> LOC = AE26;
#NET TP0<18> LOC = Y24;
#NET TP0<19> LOC = Y25;
#NET TP0<20> LOC = AH27;
#NET TP0<21> LOC = AK27;
#NET TP0<22> LOC = Y22;
#NET TP0<23> LOC = Y23;
#NET TP0<24> LOC = W22;
#NET TP0<25> LOC = W21;
#NET TP0<26> LOC = AD27;
#NET TP0<27> LOC = AD26;
#NET TP0<28> LOC = V24;
#NET TP0<29> LOC = V23;
#NET TP0<30> LOC = AG28;
#NET TP0<31> LOC = AG27;
NET TP1<0> LOC = D21;
NET TP1<1> LOC = A22;
NET TP1<2> LOC = C22;
NET TP1<3> LOC = D20;
NET TP1<4> LOC = B23;
NET TP1<5> LOC = D22;
NET TP1<6> LOC = E22;
NET TP1<7> LOC = C21;
NET TP1<8> LOC = G21;
NET TP1<9> LOC = G20;
NET TP1<10> LOC = J20;
NET TP1<11> LOC = A23;
NET TP1<12> LOC = G22;
NET TP1<13> LOC = C23;
NET TP1<14> LOC = D23;
NET TP1<15> LOC = F21;
NET TP1<16> LOC = G23;
NET TP1<17> LOC = D24;
NET TP1<18> LOC = E24;
NET TP1<19> LOC = F22;
NET TP1<20> LOC = C24;
NET TP1<21> LOC = A25;
NET TP1<22> LOC = B25;
NET TP1<23> LOC = F23;
NET TP1<24> LOC = A29;
NET TP1<25> LOC = A28;
NET TP1<26> LOC = J21;
NET TP1<27> LOC = A24;
NET TP1<28> LOC = B30;
NET TP1<29> LOC = B29;
NET TP1<30> LOC = A26;
NET TP1<31> LOC = C26;
NET TST_PLS LOC = AJ29;
NET valid LOC = AC27;
NET "sl_cn_done"		LOC = "E28";	# I/O_404 Pin XP2.C30	S6
## Spartan-6 mezzanine ADC
NET "adc_eoc"			LOC = "U24";	# ADC_EOC
NET "adc_ncs"			LOC = "C25";	# ADC_NCS
NET "adc_sck"			LOC = "H21";	# ADC_SCK
NET "adc_sdi"			LOC = "D25";	# ADC_SDI
NET "adc_sdo"			LOC = "M28";	# ADC_SDO
